body {
  font-family: sans-serif;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#nav-bar {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 1)'/><path d='M15 5h10v30H15zM35-5V5H5V-5zM35 35v10H5V35zM35-15h10v30H35zM55 15v10H25V15zM15 15v10h-30V15zM35 25h10v30H35zM-5 25H5v30H-5zM-5-15H5v30H-5z'  stroke-width='0.5' stroke='hsla(231, 48%, 48%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-63)' fill='url(%23a)'/></svg>");
  box-shadow: 0px 5px 20px;
}

#skills-section,
#certificates-section,
#education-section,
#work-section {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.progress {
  margin-top: -10px;
}

#udemy-cv {
  width: 40%;
}

#school-timeline {
  display: flex;
  justify-content: space-between;
}

#left-text {
  font-weight: 700;
}

#intro-pic {
  border-radius: 50%;
  border: 4px solid green;
}

h3 {
  text-align: center;
  text-shadow: 3px 3px 6px;
}
